* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: teal;
}

main {
    width: 40%;
    margin: 5rem auto 0 auto;
    background-color: white;
    padding: 1rem 3rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

input {
    width: 100%;
    padding: 0.3rem;
    font-size: 1.2rem;
    border: 2px solid gray;
    margin-bottom: 1rem;
}

button {
    margin: 1rem auto;
    background-color: transparent;
    border: 2px solid gray;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
    min-width: 12rem;
}

p {
    text-align: center;
    font-size: 1.2rem;
    overflow-wrap: break-word;
}