* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: teal;
}

main {
    width: 40%;
    margin: 5rem auto 0 auto;
    background-color: white;
    padding: 1rem 3rem 2rem;
}

h1, p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

input, button, p {
    font-size: 1.2rem;
}

input, button {
    border: 2px solid gray;
}

input {
    width: 100%;
    padding: 0.3rem;
}

button {
    margin-top: 1rem;
    background-color: transparent;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
    min-width: 12rem;
    align-self: center;
}

p {
    overflow-wrap: break-word;
}

@media (max-width: 1300px) {
    main {
        width: 50%;
    }
}

@media (max-width: 800px) {
    main {
        width: 60%;
    }
}


@media (max-width: 600px) {
    main {
        width: 80%;
        padding: 1.5rem;
    }
}

@media (max-width: 350px) {
    main {
        width: 95%;
        padding: 1rem;
    }
}